body{background-color: black;
  text-align: center;
  margin-top: 25%;
}

.glow{ background-color: black;
    color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.glow:hover{ box-shadow: 0 0 5px yellow, 0 0 10px yellow;


}
